*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, input, select, textarea, button {
  font-family: 'Merriweather', georgia, "times new roman", serif;
  color: #2d3945;
  font-size: 16px;
}


p {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 300;

}



.container {
  padding: 15px 16px 15px 16px;
  max-width: 600px;
  margin: 0 auto;
}

/* header section*/

header {
  background: #2d3945;
}
header .container {
  padding: 30px 20px;
}
header .container h1 {
color: #ffffff;
font-family: 'Merriweather', georgia, "times new roman", serif;
text-transform: uppercase;
font-size: 1.2rem;
text-align: center;
}
.intro .container {
  padding-top: 30px;
}
.intro div {
    text-align: center;
}
.intro h2{
  font-size: 1.2rem;
  line-height: 1;
  font-weight: bold;
  padding-bottom: 0px;
}
.intro p{
  color: #cbced1;
}
.divider-bar {
  width: 100%;
  height: 9px;
  display: block;
  padding: 30px 0 0 0;
}
.divider-bar div:first-child {
  width: 100%;
  height: 4px;
  display: block;
  background-color: #2d3945;
}
.divider-bar div:last-child {
  width: 100%;
  height: 2px;
  display: block;
  margin-top: 3px;
  background-color: #2d3945;
}

/*  FORM */
.flex {
  display:flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.contact-info {
border-bottom: 2px solid #000000;
padding-bottom: 30px;
display: flex;
flex-direction: column;
}
label {
  color: #55687a;
  padding-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea,
select {
  padding: 15px;
  border-radius: 5px;
  border: none;
  background: #eff0f1;
}

input:focus, textarea:focus, select:focus {
  outline: 3px solid #46698b;
  border-radius: 5px;
}

input:active, textarea:active, select:active {

}

input::placeholder{
color: #a8adb2;
text-align: right;
}
select::placeholder{
color: #a8adb2;
text-align: right;
}
option::placeholder{
color: #a8adb2;
text-align: left;
}




input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;

}
textarea {
  height: 125px;
}
.clean {
  display: inline-block;
  padding-left: 5px;
}

legend {
  padding-bottom: 15px;
}
legend h3 {
  font-weight: bold;
}

.label-padding {
  padding-top: 20px;
  padding-bottom: 15px;
}
select {
  padding: 15px;
  height: auto;
  border-radius: 5px;

}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4ebbb5;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
  border: none;
  margin-top: 15px;
}
input[type="submit"],
input[type=button] {
  cursor: pointer;
}

fieldset {
  margin-bottom: 30px;
  border: none;
  display: flex;
  flex-direction: column;
}


legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}


input[name="user-zip"] {
  width: 40%;
}





/*FOOTER */
#fine-print span {
  font-style: italic;
  color: #a4a9ae;
  font-size: .8rem;
  text-align: center;
}
#fine-print {
  text-align: center;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .intro .container {
    padding-top: 60px;
  }
  .intro h2{
    font-size: 1.5rem;
    line-height: 1;
    font-weight: bold;
    padding-bottom: 10px;
  }

  .container {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
  }



  .flex {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;


  }
  .flex label {
    flex-basis: 200px;
  }
  .flex input, .flex select {
    width: 100%;
  }
  [id~=zip] {
    max-width: 50%;
  }



}
